body {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 100vh;
    margin: 0;
}
p {
    font-family: sans-serif;
    color: white;
    padding: 10 0 0 10;
    margin: 0;
}
canvas {
    padding: 0 10;
}